/* ShopLayout.css */
.shop-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}


.shop-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        ". card1 card2 ."
        "storage storage shop shop"
        "bench bench bench bench"
        ". . . .";
    gap: 1rem;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.shop-card-1 {
    grid-area: card1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.shop-card-2 {
    grid-area: card2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}



.shop-storage {
    grid-area: storage;
    display: grid;
    background-color: #fff2e6;
    border-radius: 8px;
    padding: 1rem;
}

.shop-shopItems {
    grid-area: shop;
    display: grid;
    background-color: #e6ffe6;
    border-radius: 8px;
    padding: 1rem;
}

.shop-bench {
    grid-area: bench;
    display: grid;
    background-color: #f0f8ff;
    border-radius: 8px;
    padding: 1rem;
}

@media (max-width: 768px) {}