.item-effect-icon {
    width: 16px;
    height: 16px;
    filter: drop-shadow(0px 0px 2px rgb(254, 145, 4));
}

.item-effect-icon.shop-item {
    width: 25px;
    height: 25px;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}